* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-size: 18px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; 
        height: auto;
    }

    .card-blue {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        width: 100%;
        height: auto;
        padding-bottom: 25px;
    }

    .summary {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        margin-bottom: 25px;
    }

    .summary h2{
        color: black;
        margin: 20px 0 20px 20px;
    }

    .tarjeta {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        margin: 0 20px;
        padding: 20px;
        border-radius: 5px;
    }
}

@media (min-width: 601px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px; 
        height: auto;
        margin: 150px auto;
        border-radius: 25px;
        -webkit-box-shadow: 2px 11px 13px 0px rgba(181,181,181,1);
        -moz-box-shadow: 2px 11px 13px 0px rgba(181,181,181,1);
        box-shadow: 2px 11px 13px 0px rgba(181,181,181,1);
    }
    .card-blue {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        align-items: center;
        border-radius: 25px;
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        width: 300px;
        height: auto;
        padding-bottom: 25px;
    }

    .summary {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 300px;
        height: auto;
        border-radius: 25px;
    }

    .summary h2{
        color: black;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .tarjeta {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        margin: 0 20px;
        padding: 10px;
        border-radius: 5px;
    }
}

.circule {
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30px 0;
    
}

.circule p:first-of-type {
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    padding: 0;
}

.circule p:last-of-type {
    margin: 0;
    padding: 0;
}



.container-grip {
    display: grid;
    /* grid-template-columns: 1; */
    gap: 1rem;
}


.s1 {
    display: flex;
    gap: 5px;
    
}
.bg1 {
    background-color: hsla(0, 100%, 67%, 0.075);
}
.bg2 {
    background-color: hsla(39, 100%, 56%, 0.075);
}
.bg3 {
    background-color: hsla(166, 100%, 37%, 0.075);
}
.bg4 {
    background-color: hsla(234, 85%, 45%, 0.075);
    margin-bottom: 20px;
}
.sc1 {
    color: hsl(0, 100%, 67%);
}
.sc2 {
    color: hsl(39, 100%, 56%);
}
.sc3 {
    color: hsl(166, 100%, 37%);
}
.sc4 {
    color: hsl(234, 85%, 45%); 
}
.tarjeta p {
    color: hsl(241, 100%, 89%);
}

.dark-blue {
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}

.boton {
    padding: 15px 10px;
    background-color: hsl(224, 30%, 27%);
    transition: background-color 0.5s;
    border: 1px #000 solid;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    margin: 0 20px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

.boton:hover {
    background-color: hsl(241, 81%, 54%);
}

/* forma del texto */

h1 {
    text-align: center;
    color: hsl(221, 100%, 96%);
    font-size: 18px;
    margin-top: 30px;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

.card-blue p {
    color: hsl(221, 100%, 96%);
    text-align: center;
    padding: 15px;
}